.BP-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    /* top: 100px; */
    /* width:100vw;
    height:100vh;
    z-index: 2;
    position:absolute;*/
    background-color: rgba(0, 0, 0, 0.6); 
}
.note-box {
    background-color: white;
    width: 70%;
    height: 50%;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: flex-end;
    border-radius: 4rem 4rem 0 0;
    align-items: center;
    flex-direction: column;
}
.good-img {
    width: 60%;
    height: 60%;
    /* position: absolute; */
}
.thank-you-msg {
    font-family: Pretendard;
    color: #666666;
}

.BP-main > a {
    width: 70%;
}

.BP-button {
    background-color: #393333;
    width: 100%;
    padding: 1rem 0;
    border-radius: 0 0 4rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm-text{
    color: white;
    font-size: 20px;
}

.confirm-text{
    font-family: Pretendard;
}

.backdrop {
    background: rgba(0, 0, 0, 0.8);
}
.thank-you-msg-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}