@import url('font.css');
@import url('reset.css');
@import url('BP.css');
@import url('indexRe.css');
@import url('parkickMap.css');
@import url('QRcode.css');

/* vehicleRentMenu */
.e92_53 { 
	overflow:hidden;
}
.e92_53 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:260px;
	position:absolute;
	bottom: -15px;
	z-index: 1;
}
.e92_74 { 
	background-color:rgba(0, 0, 0, 1);
	width:393px;
	height:260px;
	position:absolute;
	left:0px;
	top:0px;
}
.e92_75 { 
	background-color:rgba(255, 216.00000232458115, 57.00000040233135, 1);
	width:342px;
	height:51px;
	position:absolute;
	left:25px;
	top:179px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e92_76 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:63px;
	height:21px;
	position:absolute;
	left:165px;
	top:194px;
	font-family:Pretendard;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e92_77 { 
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:339px;
	height:34px;
	position:absolute;
	left:27px;
	top:125px;
}
.e92_78 { 
	color:rgba(255, 255, 255, 1);
	width:28px;
	height:19px;
	position:absolute;
	left:40px;
	top:132px;
	font-family:Pretendard;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e92_79 { 
	color:rgba(255, 255, 255, 1);
	width:224px;
	height:17px;
	position:absolute;
	left:77px;
	top:134px;
	font-family:Pretendard;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e92_80 { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:21px;
	position:absolute;
	left:28px;
	top:65px;
	font-family:Pretendard;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e92_81 { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:19px;
	position:absolute;
	left:28px;
	top:90px;
	font-family:Pretendard;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e92_82 { 
	transform: rotate(90.00000250447523deg);
	width:7px;
	height:0px;
	position:absolute;
	left:33px;
	top:24px;
}
.e92_82 { 
	border:2px solid rgba(84.00000259280205, 196.00000351667404, 6.000000117346644, 1);
}
.e92_83 { 
	transform: rotate(90.00000250447523deg);
	width:7px;
	height:0px;
	position:absolute;
	left:36px;
	top:24px;
}
.e92_83 { 
	border:2px solid rgba(84.00000259280205, 196.00000351667404, 6.000000117346644, 1);
}
.e92_84 { 
	transform: rotate(90.00000250447523deg);
	width:7px;
	height:0px;
	position:absolute;
	left:39px;
	top:24px;
}
.e92_84 { 
	border:2px solid rgba(84.00000259280205, 196.00000351667404, 6.000000117346644, 1);
}
.e92_85 { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:21px;
	position:absolute;
	left:62px;
	top:17px;
	font-family:Pretendard;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e92_86 { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:14px;
	position:absolute;
	left:150px;
	top:21px;
	font-family:Pretendard;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e92_87 { 
	width:47px;
	height:47px;
	position:absolute;
	left:307px;
	top:43px;
}
.e92_88 { 
	border-radius:500px;
	background-color:rgba(255, 216.00000232458115, 57.00000040233135, 1);
	width:47px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
}
.e92_89 { 
	width:25.462339401245117px;
	height:27.87761688232422px;
	position:absolute;
	left:11px;
	top:10px;
}
.e92_90 { 
	background-color:rgba(0, 0, 0, 1);
	width:25.462339401245117px;
	height:27.87761688232422px;
	position:absolute;
	left:0px;
	top:0px;
}
.e92_91 { 
	width:28px;
	height:13px;
	position:absolute;
	left:30px;
	top:21px;
}
.e92_92 { 
	background-color:rgba(255, 255, 255, 1);
	width:24.499998092651367px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
.e92_93 { 
	background-color:rgba(255, 255, 255, 1);
	width:2.625px;
	height:4.875px;
	position:absolute;
	left:25.375px;
	top:4.0625px;
}

/* QRcodeRent */
.e107_3 { 
	overflow:hidden;
}
.e107_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:852px;
	position:absolute;
}
.e107_4 { 
	color:rgba(0, 0, 0, 1);
	width:63px;
	height:21px;
	position:absolute;
	left:165px;
	top:64px;
	font-family:Pretendard;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}


.e107_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:393px;
	height:524px;
	position:absolute;
	left:0px;
	top:95px;
}
.e107_11 { 
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:17px;
	position:absolute;
	left:172px;
	top:764px;
	font-family:Pretendard;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
    cursor: pointer;
}
.e107_12 { 
	color:rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
	width:263px;
	height:34px;
	position:absolute;
	left:65px;
	top:642px;
	font-family:Pretendard;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e107_10 { 
	width:38px;
	height:38px;
	position:absolute;
	left:178px;
	top:711px;
}
.e107_8 { 
	width:38px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
}
.e107_9 { 
	background-color:rgba(0, 0, 0, 1);
	width:28.5px;
	height:28.5px;
	position:absolute;
	left:4.7500386238098145px;
	top:4.7500386238098145px;
}



