html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: Pretendard;
}
.font-extrabold {
    font-weight: 800;
}
.font-bold {
    font-weight: 700;
}
.font-semibold {
    font-weight: 600;
}
.font-medium {
    font-weight: 500;
}
.font-regular {
    font-weight: 400;
}

/* index */
.e15_8 {
    overflow: hidden;
}
.e15_8 {
    background-color: rgba(
        248.0000004172325,
        248.0000004172325,
        248.0000004172325,
        1
    );
    width: 393px;
    height: 852px;
    position: absolute;
}
.e39_370 {
    width: 313px;
    height: 27px;
    position: absolute;
    left: 51px;
    top: 16px;
}
.e21_193 {
    color: rgba(0, 0, 0, 1);
    width: 39px;
    height: 21px;
    position: absolute;
    left: 0px;
    top: 6px;
    font-family: Pretendard;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}
.wifi-icon {
    width: 20.399999618530273px;
    height: 15.692307472229004px;
    position: absolute;
    left: 257px;
    top: 5px;
}
.e21_212 {
    background-color: rgba(0, 0, 0, 1);
    width: 20.399999618530273px;
    height: 15.692307472229004px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.signal-icon {
    width: 19.9226131439209px;
    height: 14.388821601867676px;
    position: absolute;
    left: 227px;
    top: 6px;
}
.e21_215 {
    width: 19.9226131439209px;
    height: 14.388821601867676px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e21_216 {
    background-color: rgba(
        46.000001057982445,
        52.000000700354576,
        54.00000058114529,
        1
    );
    width: 14.609915733337402px;
    height: 11.305502891540527px;
    position: absolute;
    left: 0px;
    top: 3.0834412574768066px;
}
.e21_217 {
    background-color: rgba(
        46.000001057982445,
        52.000000700354576,
        54.00000058114529,
        0.34902000427246094
    );
    width: 3.984522819519043px;
    height: 14.388821601867676px;
    position: absolute;
    left: 15.938106536865234px;
    top: 0.00009432507067685947px;
}
.battery-icon {
    width: 26px;
    height: 26px;
    position: absolute;
    left: 287px;
    top: 0px;
}
.e21_220 {
    background-color: rgba(
        248.0000004172325,
        248.0000004172325,
        248.0000004172325,
        1
    );
    width: 26px;
    height: 26px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e21_221 {
    width: 21.6702823638916px;
    height: 13px;
    position: absolute;
    left: 2.163015127182007px;
    top: 6.5px;
}
.e21_222 {
    background-color: rgba(
        35.00000171363354,
        31.000000052154064,
        32.00000189244747,
        1
    );
    width: 17.34056282043457px;
    height: 13px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e21_223 {
    background-color: rgba(
        35.00000171363354,
        31.000000052154064,
        32.00000189244747,
        1
    );
    width: 2.1666665077209473px;
    height: 6.5px;
    position: absolute;
    left: 19.50373649597168px;
    top: 3.25px;
}
.bell-img {
    width: 16.978519439697266px;
    height: 19.153186798095703px;
    position: absolute;
    left: 301px;
    top: 87px;
}
.e21_230 {
    background-color: rgba(0, 0, 0, 1);
    width: 16.978519439697266px;
    height: 19.153186798095703px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.menu-img {
    width: 16.54889488220215px;
    height: 14.418224334716797px;
    position: absolute;
    left: 345px;
    top: 90px;
}
.e21_233 {
    background-color: rgba(0, 0, 0, 1);
    width: 16.54889488220215px;
    height: 14.418224334716797px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.coupon-img {
    width: 21px;
    height: 21px;
    position: absolute;
    left: 257px;
    top: 86px;
}
.e21_226 {
    width: 21px;
    height: 21px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e21_227 {
    background-color: rgba(0, 0, 0, 1);
    width: 17.5px;
    height: 15.75px;
    position: absolute;
    left: 1.7499316930770874px;
    top: 2.625px;
}
.ad-img {
    width: 393px;
    height: 211px;
    position: absolute;
    left: 0px;
    top: 122px;
    background-repeat: no-repeat;
    background-size: cover;
}
.e21_241 {
    background-color: rgba(
        54.00000058114529,
        12.000000234693289,
        210.00000268220901,
        1
    );
    width: 209px;
    height: 140px;
    position: absolute;
    left: 0px;
    top: 122px;
}
.e21_244 {
    color: rgba(255, 255, 255, 1);
    width: 177px;
    height: 87px;
    position: absolute;
    left: 28px;
    top: 177px;
    font-family: Pretendard;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}
.e21_246 {
    color: rgba(255, 255, 255, 1);
    width: 49px;
    height: 17px;
    position: absolute;
    left: 28px;
    top: 152px;
    font-family: Pretendard;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
}
.e21_252 {
    width: 24.279691696166992px;
    height: 19px;
    position: absolute;
    left: 32px;
    top: 349px;
}
.e21_251 {
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 24.279691696166992px;
    height: 19px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e21_253 {
    color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 223px;
    height: 17px;
    position: absolute;
    left: 68px;
    top: 351px;
    font-family: Pretendard;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
}
.e21_268 {
    background-color: rgba(255, 255, 255, 1);
    width: 160px;
    height: 120px;
    position: absolute;
    left: 30px;
    top: 383px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
}
.e39_294 {
    background-color: rgba(255, 255, 255, 1);
    width: 160px;
    height: 120px;
    position: absolute;
    left: 203px;
    top: 383px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
}
.e21_269 {
    color: rgba(0, 0, 0, 1);
    width: 65px;
    height: 21px;
    position: absolute;
    left: 20px;
    top: 83px;
    font-family: Pretendard;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}
.e21_270 {
    color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
    display: flex;
    margin:14px 0 0 14px;
    font-family: Pretendard;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}
.e39_295 {
    color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
    /* width: 63px;
    height: 21px;
    position: absolute;
    left: 217px;
    top: 399px; */
    display: flex;
    margin: 12px 0 0 12px;
    font-family: Pretendard;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}
.e21_277 {
    width: 29.277856826782227px;
    height: 31.681095123291016px;
    display: flex;
    margin-left: 120px;
    
}
.e21_276 {
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 29.277856826782227px;
    height: 31.681095123291016px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e21_289 {
    background-color: rgba(255, 216.00000232458115, 57.00000040233135, 1);
    width: 12.105517387390137px;
    height: 11.70199966430664px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e39_292 {
    background-color: rgba(255, 216.00000232458115, 57.00000040233135, 1);
    width: 7.105517387390137px;
    height: 6.868666648864746px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e39_293 {
    color: rgba(
        153.00000607967377,
        153.00000607967377,
        153.00000607967377,
        1
    );
    /* width: 76px;
    height: 42px;
    position: absolute;
    left: 44px;
    top: 426px; */
    display: flex;
    margin: 10px 0 0 15px;
    font-family: Pretendard;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0;
}
.e39_303 {
    color: rgba(
        153.00000607967377,
        153.00000607967377,
        153.00000607967377,
        1
    );
    width: 66px;
    height: 28px;
    /* position: absolute;
    left: 217px;
    top: 426px; */
    display: flex;
    margin: 10px 0 0 15px;
    font-family: Pretendard;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0;
}
.e39_317 {
    width: 34.13999938964844px;
    height: 34.13999938964844px;
    /* position: absolute;
    left: 312px;
    top: 458px; */
    margin-left: 115px;
    margin-top: 10px;
}
.e39_305 {
    width: 34.13999938964844px;
    height: 34.13999938964844px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e39_306 {
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 11.380000114440918px;
    height: 11.380000114440918px;
    position: absolute;
    left: 4.267465114593506px;
    top: 4.267561912536621px;
}
.e39_307 {
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 11.380000114440918px;
    height: 11.380000114440918px;
    position: absolute;
    left: 4.267465114593506px;
    top: 18.49244499206543px;
}
.e39_308 {
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 11.380000114440918px;
    height: 11.380000114440918px;
    position: absolute;
    left: 18.492542266845703px;
    top: 4.267561912536621px;
}
.e39_309 {
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 2.8450000286102295px;
    height: 2.8450000286102295px;
    position: absolute;
    left: 27.02747344970703px;
    top: 27.027568817138672px;
}
.e39_310 {
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 2.8450000286102295px;
    height: 2.8450000286102295px;
    position: absolute;
    left: 18.492542266845703px;
    top: 18.49244499206543px;
}
.e39_311 {
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 2.8450000286102295px;
    height: 2.8450000286102295px;
    position: absolute;
    left: 21.3375186920166px;
    top: 21.33742332458496px;
}
.e39_312 {
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 2.8450000286102295px;
    height: 2.8450000286102295px;
    position: absolute;
    left: 18.492542266845703px;
    top: 24.182592391967773px;
}
.e39_313 {
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 2.8450000286102295px;
    height: 2.8450000286102295px;
    position: absolute;
    left: 21.3375186920166px;
    top: 27.027568817138672px;
}
.e39_314 {
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 2.8450000286102295px;
    height: 2.8450000286102295px;
    position: absolute;
    left: 24.1824951171875px;
    top: 24.182592391967773px;
}
.e39_315 {
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 2.8450000286102295px;
    height: 2.8450000286102295px;
    position: absolute;
    left: 24.1824951171875px;
    top: 18.49244499206543px;
}
.e39_316 {
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 2.8450000286102295px;
    height: 2.8450000286102295px;
    position: absolute;
    left: 27.02747344970703px;
    top: 21.33742332458496px;
}
.e39_321 {
    background-color: rgba(255, 255, 255, 1);
    width: 333px;
    height: 70px;
    position: absolute;
    left: 30px;
    top: 524px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.e39_329 {
    background-color: rgba(255, 255, 255, 1);
    width: 333px;
    height: 100px;
    position: absolute;
    left: 30px;
    top: 615px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.e39_322 {
    color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
    width: 159px;
    height: 21px;
    position: absolute;
    left: 44px;
    top: 540px;
    font-family: Pretendard;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}
.e39_330 {
    color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
    width: 94px;
    height: 21px;
    position: absolute;
    left: 44px;
    top: 631px;
    font-family: Pretendard;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}
.e39_323 {
    background-color: rgba(255, 216.00000232458115, 57.00000040233135, 1);
    width: 85px;
    height: 29px;
    position: absolute;
    left: 257px;
    top: 544px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.e39_324 {
    color: rgba(0, 0, 0, 1);
    width: 55px;
    height: 14px;
    position: absolute;
    left: 272px;
    top: 552px;
    font-family: Pretendard;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0;
}
.e39_335 {
    background-color: rgba(255, 216.00000232458115, 57.00000040233135, 1);
    width: 302px;
    height: 29px;
    position: absolute;
    left: 45px;
    top: 673px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.e39_336 {
    color: rgba(0, 0, 0, 1);
    width: 89px;
    height: 14px;
    position: absolute;
    left: 153px;
    top: 681px;
    font-family: Pretendard;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0;
}
.e39_325 {
    color: rgba(
        153.00000607967377,
        153.00000607967377,
        153.00000607967377,
        1
    );
    width: 168px;
    height: 14px;
    position: absolute;
    left: 44px;
    top: 565px;
    font-family: Pretendard;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0;
}
.e39_331 {
    color: rgba(
        153.00000607967377,
        153.00000607967377,
        153.00000607967377,
        1
    );
    width: 74px;
    height: 14px;
    position: absolute;
    left: 44px;
    top: 652px;
    font-family: Pretendard;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0;
}
.e39_332 {
    color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
    width: 106px;
    height: 29px;
    position: absolute;
    left: 239px;
    top: 631px;
    text-align: right;
    font-size: 24px;
    letter-spacing: 0;
    font-family: Pretendard;
}
.e39_341 {
    transform: rotate(-180deg);
    width: 14.280029296875px;
    height: 14.280029296875px;
    position: absolute;
    left: 158.280029296875px;
    top: 648.280029296875px;
}
.e39_342 {
    transform: rotate(-180deg);
    opacity: 0.8700000047683716;
    width: 14.280029296875px;
    height: 14.280029296875px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e39_343 {
    transform: rotate(-180deg);
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 6.391063213348389px;
    height: 11.165200233459473px;
    position: absolute;
    left: -3.7173354625701904px;
    top: -1.560349702835083px;
}
.e21_267 {
    transform: rotate(-180deg);
    width: 14.280029296875px;
    height: 14.280029296875px;
    position: absolute;
    left: 379.280029296875px;
    top: 364.280029296875px;
}
.e21_265 {
    transform: rotate(-180deg);
    opacity: 0.8700000047683716;
    width: 14.280029296875px;
    height: 14.280029296875px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e21_266 {
    transform: rotate(-180deg);
    background-color: rgba(
        102.00000151991844,
        102.00000151991844,
        102.00000151991844,
        1
    );
    width: 6.391063213348389px;
    height: 11.165200233459473px;
    position: absolute;
    left: -3.7173354625701904px;
    top: -1.560349702835083px;
}

.bg-yellow {
    background-color: #FFD839;
}

/* vehicleRentMenu */
.e92_53 { 
	overflow:hidden;
}
.e92_53 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:260px;
	position:absolute;
	bottom: -15px;
	z-index: 1;
}
.e92_74 { 
	background-color:rgba(0, 0, 0, 1);
	width:393px;
	height:260px;
	position:absolute;
	left:0px;
	top:0px;
}
.e92_75 { 
	background-color:rgba(255, 216.00000232458115, 57.00000040233135, 1);
	width:342px;
	height:51px;
	position:absolute;
	left:25px;
	top:179px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e92_76 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:63px;
	height:21px;
	position:absolute;
	left:165px;
	top:194px;
	font-family:Pretendard;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e92_77 { 
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:339px;
	height:34px;
	position:absolute;
	left:27px;
	top:125px;
}
.e92_78 { 
	color:rgba(255, 255, 255, 1);
	width:28px;
	height:19px;
	position:absolute;
	left:40px;
	top:132px;
	font-family:Pretendard;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e92_79 { 
	color:rgba(255, 255, 255, 1);
	width:224px;
	height:17px;
	position:absolute;
	left:77px;
	top:134px;
	font-family:Pretendard;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e92_80 { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:21px;
	position:absolute;
	left:28px;
	top:65px;
	font-family:Pretendard;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e92_81 { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:19px;
	position:absolute;
	left:28px;
	top:90px;
	font-family:Pretendard;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e92_82 { 
	transform: rotate(90.00000250447523deg);
	width:7px;
	height:0px;
	position:absolute;
	left:33px;
	top:24px;
}
.e92_82 { 
	border:2px solid rgba(84.00000259280205, 196.00000351667404, 6.000000117346644, 1);
}
.e92_83 { 
	transform: rotate(90.00000250447523deg);
	width:7px;
	height:0px;
	position:absolute;
	left:36px;
	top:24px;
}
.e92_83 { 
	border:2px solid rgba(84.00000259280205, 196.00000351667404, 6.000000117346644, 1);
}
.e92_84 { 
	transform: rotate(90.00000250447523deg);
	width:7px;
	height:0px;
	position:absolute;
	left:39px;
	top:24px;
}
.e92_84 { 
	border:2px solid rgba(84.00000259280205, 196.00000351667404, 6.000000117346644, 1);
}
.e92_85 { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:21px;
	position:absolute;
	left:62px;
	top:17px;
	font-family:Pretendard;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e92_86 { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:14px;
	position:absolute;
	left:150px;
	top:21px;
	font-family:Pretendard;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e92_87 { 
	width:47px;
	height:47px;
	position:absolute;
	left:307px;
	top:43px;
}
.e92_88 { 
	border-radius:500px;
	background-color:rgba(255, 216.00000232458115, 57.00000040233135, 1);
	width:47px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
}
.e92_89 { 
	width:25.462339401245117px;
	height:27.87761688232422px;
	position:absolute;
	left:11px;
	top:10px;
}
.e92_90 { 
	background-color:rgba(0, 0, 0, 1);
	width:25.462339401245117px;
	height:27.87761688232422px;
	position:absolute;
	left:0px;
	top:0px;
}
.e92_91 { 
	width:28px;
	height:13px;
	position:absolute;
	left:30px;
	top:21px;
}
.e92_92 { 
	background-color:rgba(255, 255, 255, 1);
	width:24.499998092651367px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
.e92_93 { 
	background-color:rgba(255, 255, 255, 1);
	width:2.625px;
	height:4.875px;
	position:absolute;
	left:25.375px;
	top:4.0625px;
}

/* QRcodeRent */
.e107_3 { 
	overflow:hidden;
}
.e107_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:852px;
	position:absolute;
}
.e107_4 { 
	color:rgba(0, 0, 0, 1);
	width:63px;
	height:21px;
	position:absolute;
	left:165px;
	top:64px;
	font-family:Pretendard;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
#reader {
    left:-155px;
    width:700px;
    margin-top:95px;
}

.e107_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:393px;
	height:524px;
	position:absolute;
	left:0px;
	top:95px;
}
.e107_11 { 
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:17px;
	position:absolute;
	left:172px;
	top:764px;
	font-family:Pretendard;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
    cursor: pointer;
}
.e107_12 { 
	color:rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
	width:263px;
	height:34px;
	position:absolute;
	left:65px;
	top:642px;
	font-family:Pretendard;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e107_10 { 
	width:38px;
	height:38px;
	position:absolute;
	left:178px;
	top:711px;
}
.e107_8 { 
	width:38px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
}
.e107_9 { 
	background-color:rgba(0, 0, 0, 1);
	width:28.5px;
	height:28.5px;
	position:absolute;
	left:4.7500386238098145px;
	top:4.7500386238098145px;
}

.cancel-button {
    display: flex;
    position: absolute;
    top:60px;
    left: 10px;
}